body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input[type=radio] {
	margin: 0px 20px 0px 20px;
}

.radio-labels {
	padding-bottom: 20px;
	border-bottom: 1px solid lightgrey;
}

.radio-labels div {
	display: inline-block;
	font-size: 12px;
	text-align: center;
	vertical-align: top;
	margin-top: 5px;
	color: grey;
}

.neutral, .agree {
	margin-left: 60px;
}

footer {
	margin: 40px;
}

footer p {
	color: rgb(230,230,230);
	margin: 0 auto;
	text-align: center;
}

#match-image {
	height: 150px;
	width: auto;
}

#match-count {
	margin-top: 15px;
	font-style: italic;
}